@import "global.css";

body {
    background-image: linear-gradient(#fffef7, #fffef7); /* PLACEHOLDER (colours do not matter here) */
}

.background {
    position: fixed;
    background-color: var(--home);
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#bg-1 {
    z-index: -2;
}

#bg-2 {
    z-index: -1;
}

#heading {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    text-align: center;
    background-color: blue;
    color: yellow;
    font-weight: bold;
}

.button-space {
    display: inline-block;
    position: relative;

    /*FOR DEBUGGING ONLY*/
    /*border-style: dotted;*/
}

.partial-menu-container {
    display: inline-block;
}

.menu-button {
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 5px 0 pink;
    transition: 0.2s;
}

.menu-button a:link {
    color: green;
}

.menu-button a:visited {
    color: darkgreen;
}

.button-container {
    position: absolute;
}

.menu-button:hover {
    cursor: pointer;
}

#art {
    background-color: var(--art);
}

#port {
    background-color: var(--port);
}

#stills {
    background-color: var(--stills);
}

#me {
    background-color: var(--me);
}

#footnote {
    z-index: 4;
    position: fixed;
    left: 8px;
    bottom: 0;
}

#game {
    z-index: 5;
    display: none;
    width: 100px;
    height: 100px;
    position: absolute;
    transition: 500ms;

    /*FOR DEBUGGING*/
    /*border-style: dotted;*/
}

#game.win {
    background-color: var(--game);
    opacity: 0.98;
    cursor: pointer;
    border-radius: 25px;
}

#game > a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
}

#game > a > img {
    border-radius: 6px;
    transition: 500ms;
}

#game:not(.win) > a > img {
    width: 100%;
    height: 100%;
}

#game.win > a > img {
    width: 0;
    height: 0;
}

#win-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    vertical-align: middle;
    display: none;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

/*DESKTOP VIEW*/
@media (min-width: 768px) {
    #heading {
        width: 480px;
        height: 260px;
        font-size: 56px;
        line-height: 80px;
        margin-top: 1.6em;
        margin-bottom: 0.8em;
    }

    .button-space {
        height: 240px;
        width: 240px;
    }

    .menu-button {
        border-radius: 24px;
        width: 160px;
        height: 144px;
        font-size: 50px;
        line-height: 56px;
    }

    .button-container {
        left: 40px;
    }

    .left-button-container {
        top: 16px;
    }

    .right-button-container {
        top: 80px;
    }

    .menu-button:hover {
        border-radius: 60px;
    }

    .menu-button:active {
        border-radius: 80px;
    }
}

/*MOBILE VIEW*/
@media (max-width: 767px) {
    #heading {
        width: 240px;
        height: 130px;
        font-size: 28px;
        line-height: 40px;
        margin-top: 6em;
        margin-bottom: 2em;
    }

    .button-space {
        height: 120px;
        width: 120px;
    }

    .menu-button {
        border-radius: 12px;
        width: 80px;
        height: 72px;
        font-size: 25px;
        line-height: 28px;
    }

    .button-container {
        left: 20px;
    }

    .left-button-container {
        top: 8px;
    }

    .right-button-container {
        top: 40px;
    }

    .menu-button:hover {
        border-radius: 30px;
    }

    .menu-button:active {
        border-radius: 40px;
    }
}
