@import "global.css";

body {
    background-color: var(--me);
}

#page {
    display: none;
}

#heading {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    text-align: center;
    font-size: 56px;
    line-height: 80px;
    color: #392a2a;
    font-weight: bold;
    margin-top: 15%;
    margin-bottom: 0.8em;
}

#about {
    max-width: 600px;
}

#link-palette {
    margin-top: 2em;
}

a {
    transition: 200ms;
    margin-left: 0.5em;
    margin-right: 0.5em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 25px;
}

a:hover {
    cursor: pointer;
    opacity: 0.5;
}

a:active {
    filter: invert(1);
}

#instagram {
    width: 25px;
    background-image: url("../img/instagram.png");
}

#youtube {
    width: 30px;
    background-image: url("../img/youtube.png");
}
