@import "global.css";

body {
    background-color: var(--stills);
    overflow-x: hidden;
}

.still {
    cursor: pointer;
    position: absolute;
    display: none;
    transition: 0.2s;
    transition-property: filter;
}

.still:hover {

    filter: brightness(50%);
}
