:root {
    --home: #fffef7;
    --port: thistle;
    --art: lightgoldenrodyellow;
    --stills: lightsteelblue;
    --me: lightsalmon;
    --game: seashell
}

.center {
    margin: auto;
}

.center-elements {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#win-screen {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

iframe.box {
    width: 95%;
    height: 100%;
    margin: auto;
    box-sizing: border-box;
    border: none;
}
