@import "../index.css";

body {
    background-color: var(--art);
    overflow-x: hidden;
}

.video {
    display: none;
    position: absolute;
    border: 0;
    z-index: 2;
}

.preview {
    display: none;
    position: absolute;
    z-index: 3;
}

.shadow {
    z-index: 1;
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.10);
}
